@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 64px;
  --sidebar-width: 240px;
  --mini-guide-width: 72px;
}

* {
  box-sizing: border-box;
}
body {
  color: theme('colors.lightSecondary');
  background: theme('colors.darkSecondary');
  @apply text-sm font-light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-semibold text-lightPrimary;
}

h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}
h4 {
  @apply text-base;
}

.flex-center {
  @apply flex justify-center items-center;
}
.flex-between {
  @apply flex justify-between items-center;
}
.flex-column-center {
  @apply flex flex-col justify-center items-center;
}
.flex-column-between {
  @apply: flex flex-col justify-between items-center;
}

/* remove slick carousel arrows */

.slick-prev::before,
.slick-next::before {
  display: none;
}
